<div class="services__title">
  <h1>Профессиональные услуги трубочиста</h1>
  <div class="services__container">
    <div class="services__item">
      <div class="services__img chimney"></div>
      <div class="services__text">Чистка, ремонт и монтаж каминов, дымоходов и банных печей.
      </div>
    </div>
    <div class="services__item">
      <div class="services__img act"></div>
      <div class="services__text">Выдача актов о проверке вентиляционных и дымоудоляющих систем.</div>
    </div>
    <div class="services__item">
      <div class="services__img pot"></div>
      <div class="services__text">Пуско-наладка газовых и твёрдотоплевных котлов, с сопутствующим обслуживанием.</div>
    </div>
    <div class="services__item">
      <div class="services__img check"></div>
      <div class="services__text">Обслуживание, проверка и контроль функционирования системы дымохода газовых котлов.
      </div>
    </div>
  </div>
</div>
