<header class="header">
  <div class="header__container">
    <div style="display: flex;align-items: center;">
      <div class="header__pages">
        <div class="links" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
          <span>Главная</span>
        </div>
        <div class="links" routerLink="/gallery" routerLinkActive="active"
             [routerLinkActiveOptions]="{exact:true}">
          <span>Галерея</span>
        </div>
        <div class="links" routerLink="/about-us" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
          <span>Контакты</span>
        </div>
        <!--todo Лицензии
        <div class="links" routerLink="/about-us" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
          <span>Лицензии</span>
        </div
        -->

      </div>
      <div class="menu-icon" (click)="openMenu()">
        <a href="javascript:void(0);" class="icon"></a>
      </div>
    </div>
    <div class="header__phone phone">
      <div class="phone__icon" (click)="call()"></div>
      <div class="phone__number" (click)="call()">
        <a class="phone__number" href="tel: +375296030773">+375 (29) 603-07-73</a>
      </div>
    </div>
    <div class="header__contact-info">
      <div class="social-links">
        <div class="social-links__facebook" (click)="goToSocialNetwork('facebook')"></div>
        <!--        <div class="social-links__vk" (click)="goToSocialNetwork('vk')"></div>-->
        <div class="social-links__telegram" (click)="goToSocialNetwork('telegram')"></div>
        <div class="social-links__instagram" (click)="goToSocialNetwork('instagram')"></div>
        <!--        <div class="social-links__youtube" (click)="goToSocialNetwork('youtube')"></div>-->
      </div>
    </div>
  </div>
  <app-our-services class="our-services"></app-our-services>
  <div class="header__small-menu" id="small-menu" [ngClass]="menuOpened ? 'opened' : ''">
    <div (click)="openMenu()" class="links" routerLink="/" routerLinkActive="active"
         [routerLinkActiveOptions]="{exact:true}">
      <span>Главная</span>
    </div>
    <div (click)="openMenu()" class="links" routerLink="/gallery" routerLinkActive="active"
         [routerLinkActiveOptions]="{exact:true}">
      <span>Галерея</span>
    </div>
    <div (click)="openMenu()" class="links" routerLink="/about-us" routerLinkActive="active"
         [routerLinkActiveOptions]="{exact:true}">
      <span>О нас</span>
    </div>
  </div>
</header>
