.header {
  background: linear-gradient(to right, rgba(249, 116, 93, 1) 0%, rgba(249, 116, 93, 1) 6%, rgba(248, 91, 68, 1) 26%, rgba(248, 76, 53, 1) 38%, rgba(243, 84, 63, 1) 46%, rgba(245, 152, 138, 1) 80%);

  &__container {
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    margin: 0 auto;
  }

  &__title {
    font-size: 24px;
  }

  &__phone-number {
    font-weight: bold;
    font-size: 18px;
  }

  &__whatsapp {
    color: #ffffff;
    border: 0 solid #e6ae11;
    background-color: #27d061;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
    padding: 16px;

    a {
      text-decoration: none;
    }
  }
}

.footer {
  position: fixed;
  bottom: 0;
}
