<div class="uslugi">
  <div class="uslugi__container">
    <h2 class="uslugi__title">
      Мы оказываем профессиональные услуги по монтажу, кладке, ремонту и очистке
      дымоходов, каминов, печей, котлов.
      В нашей компании работают квалифицированные печники и чистильщики дымовых и вентиляционных каналов.
    </h2>

    <div class="uslugi__list row d-flex justify-content-center">
      <div class="uslugi__item item col-12 col-sm-6 col-lg-4 col-xl-4" *ngFor="let usluga of uslugi">
        <div class="item__image" [routerLink]="['/uslugi', usluga.link]" (click)="goToUslugaPage(usluga)">
          <img [src]="usluga.src" alt="{{usluga.alt}}"> сделать при наведении слово "Подробнее"
        </div>
        <div class="item__title">
          <h3>{{usluga.title}}</h3>
        </div>
      </div>
    </div>

    <div class="uslugi__often-questions">
      <div class="often-questions__title">
        <h3>Часто задаваемые вопросы:</h3>
      </div>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Что такое камин?
            </mat-panel-title>
          </mat-expansion-panel-header>
          Слово камин происходит от латинского слова kaminos, что в переводе означает "очаг". Как источник тепла он
          начал
          применяться в быту человека гораздо раньше печи. За много веков существования камин совершенствовался и
          претерпевал конструктивные изменения, но все же сохранил свои первоначальные черты и по сей день.
          В отличие от печи, камин греет пока топится, и начинает отдавать тепло сразу после того, как разгорится огонь.
          Его настоящая ценность в том, что помещение начинает нагреваться сразу, как только разгорится огонь. Именно
          поэтому, в современных условиях, камин наиболее приемлем для помещений с непостоянным поддержанием тепла и, в
          большинстве случаев, является декоративным атрибутом домов с центральным отоплением.
          Камин создает свой особый, неповторимый уют, дает возможность насладиться созерцанием живого огня, приятным
          потрескиванием дров и их ароматом.
          В Россию камин пришел из Европы, но Российские печники быстро освоили каминное дело и даже внесли в него
          некоторые новшества, как архитектурные, так принципиально новые, позволившие совместить его с печью, отсюда и
          произошло название "камино-печь".
          На сайте трубочиста, Вы сможете ознакомиться с выполненными работами профессиональных печников и оформить
          заказы
          на строительство каминов.
          В каталоге работ Трубочиста представлены работы печников по кладке каминов различного типа. Если Вам
          понравилась
          конкретная выполненная работа, мы сможем немного видоизменить её, с учетом Ваших пожеланий, или принять заказ
          на
          разработку индивидуального проекта камина.

        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Как часто должна производиться чистка?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>Согласно действующему законодательству, дымоходы подлежат очистке:
            один раз в три месяца – для отопительных печей;
            один раз в два месяца – для очагов непрерывного действия;
            один раз в месяц – для кухонных плит и других печей непрерывной (долговременной) топки.

            Дымоходы от газовых котлов и другого котельного оборудования, подлежат обследованию три раза в год:

            перед началом отопительного сезона;
            в середине отопительного сезона;
            после окончания отопительного сезона.
            Очистка дымоходов от газовых котлов, должна проводиться не реже одного раза в год.
          </p>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Как заключить договор обслуживания вентиляции и дымохода?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>
            Первым шагом, который необходимо выполнить перед заключением договора, является первичный осмотр объекта.
            Для
            выполнения данных работ, на объект выезжает бригада квалифицированных специалистов, которая рассчитает
            площадь
            очищаемой поверхности, степень загрязнения, наличие доступа ко всем участкам дымовых и вентиляционных
            каналов.
            Стоимость первичных работ может быть несколько выше всех последующих, так как на начальном этапе степень
            загрязнения значительно выше, а доступ к каналам не обеспечен и требуется установка вентиляционных люков.
            Если Вы всерьез задумались о заключении договора на постоянное обслуживание, позвоните к нам в компанию, и
            мы
            детально проработаем все вопросы, связанные с этим.
          </p>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>
