<div class="about-us">
  <div class="about-us__container">
    <div id="yandex-map" class="yandex-map">

    </div>
    <div class="about-us__info">
      <!--<div class="name">
        ИП:
        Ходневич Константин Андреевич
      </div>
      <div class="phone">
        Телефон: <a class="phone__link" href="tel: +375296030773">+375296030773</a>
      </div>
      <div class="email">
        Email: <a href="mailto:chistim911@gmail.com">chistim911@gmail.com</a>
      </div>
      <div class="IP">

      </div>
      <div class="UNP">
        УНП: 190953454
      </div>-->
      Индивидуальный Предприниматель
      Ходневич Константин Андреевич
      г.Минск, ул. М.Богдановича, 118 п60
      ОАО «Приорбанк» ЦБУ №111код 749
      р\с BY35PJCB30130118411000000933
      БИК PJCBBY2X;   УНП 190953454
      220020 г.Минск , пр.Машерова ,40
    </div>
  </div>
</div>

