<div class="about-us">
  <div class="about-us__container">
    <div class="about-us__feedback-form">
      <div class="form" [formGroup]="emailForm">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Ваше имя" formControlName="name" >
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Email" formControlName="email" >
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Сообщение" formControlName="message" >
        </mat-form-field>
        <button (click)="sendMail()">Send Message</button>
      </div>
    </div>
    <div class="info">
      <div id="yandex-map" class="info__yandex-map">
      </div>
      <div class="info__about-me">
        <div class="individual-predpr"> ИП: Ходневич Константин Андреевич
        </div>
        <div class="address">г.Минск, ул. М.Богдановича, 118 п60</div>
        <div class="unp">УНП: 190953454</div>
      </div>
    </div>
  </div>
</div>

