<div class="main">
  <div class="head-title">
    <div class="container">
      <div class="head-title__title">
        <h1 class="title">Профессиональное обслуживание печей и каминов</h1>
        <h4 class="title">У нас Вы можете заказать услуги по чистке, установке и демонтажу любого отопительного оборудования.</h4>
        <button class="title-button" mat-button routerLink="/about-us">Связаться с нами</button>
      </div>
    </div>
  </div>
  <div class="divider divider__odd">
    <div class=" divider-block divider"></div>
  </div>
  <div class="our-advantages">
    <div class="container-fluid">
      <div class="advantages">
        <h2 class="advantages__title">Выбирая нас Вы выбираете:</h2>
        <div class="advantages__container row">
          <div class="advantage col-10 col-sm-6 col-lg-4 col-xl-4">
            <div class="advantage__icon work-tool"></div>
            <div class="advantage__text text-center align-middle"><h4>Современное оборудование и инструменты</h4></div>
          </div>
          <div class="advantage col-10 col-sm-6 col-lg-4 col-xl-4">
            <div class="advantage__icon work-experience"></div>
            <div class="advantage__text text-center align-middle"><h4>Опытных работников</h4></div>
          </div>
          <div class="advantage col-10 col-sm-6 col-lg-4 col-xl-4">
            <div class="advantage__icon quality-adv"></div>
            <div class="advantage__text text-center align-middle"><h4>Высокое качество</h4></div>
          </div>
          <div class="advantage col-10 col-sm-6 col-lg-4 col-xl-4">
            <div class="advantage__icon money"></div>
            <div class="advantage__text text-center align-middle"><h4>Доступная цена</h4></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="divider divider__even">
    <div class="divider-block divider-block__even"></div>
  </div>
  <div class="our-partners">
    <div class="container">
      <div class="row feedback d-flex justify-content-center">
        <h2 class="feedback__title">С нами сотрудничают: </h2>
        <div class="feedback__container">
          <ngb-carousel *ngIf="cafes" [showNavigationIndicators]="false" style="width: 100%;">
            <ng-template ngbSlide *ngFor="let cafe of cafes">
              <h2 style="text-align: center">{{cafe.title}}</h2>
              <div class="picsum-img-wrapper" style="width: 100%;">
                <img [src]="cafe.img" alt="Random first slide" style="width: 100%;">
              </div>
              <div class="carousel-caption">
              </div>
              <div>{{cafe.text}}</div>
            </ng-template>
          </ngb-carousel>
        </div>
      </div>
    </div>
  </div>
  <div class="divider divider__odd">
    <div class=" divider-block divider-block__odd"></div>
  </div>
  <div class="our-works">
    <div class="container">
      <div class="">
        <h2 class="our-work__title">
          Мы выполняем следующие работы
        </h2>
        <div class="our-works__container row">
          <app-our-services></app-our-services>
        </div>
      </div>
    </div>
  </div>
</div>
