.main {
  &__our-services {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1280px;
    margin: 24px auto;
  }

  .our-services, .advantages, .feedback {
    &__title {
      font-size: 24px;
      font-family: sans-serif;
      font-weight: bold;
      padding-bottom: 12px;
    }

    &__container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  .our-services {
    &__service {
      width: calc(40% - 24px);
      font-size: 16px;
      text-align: center;
      font-family: Ebrima;
    }
  }

  &__advantages {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1280px;
    margin: 24px auto;
    font-family: Ebrima;
  }

  .advantages{
    &__list {
      width: 100%;
      display: flex;
      flex-wrap: wrap;

      .advantage {
        padding-bottom: 32px;

        &__title {
          font-weight: bold;
          font-size: 24px;
        }

        &__description {
          font-size: 18px;
        }
      }

      .quality {
        display: flex;
        &__image{
          background: url(/assets/images/quality.svg) 0 0 no-repeat;
          min-width: 80px;
        }

        &__container {

        }
      }

      .security {
        display: flex;
        &__image{
          background: url(/assets/images/security.svg) 0 0 no-repeat;
          width: 80px;
          height: 80px;
        }
      }
    }
  }

  .feedback {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1280px;
    margin: 24px auto;

    &__body {
      font-family: Ebrima;
    }
  }

  /*.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &__field {
      width: 600px;
    }
  }*/
}
