.main {
  &__our-services {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1280px;
    margin: 24px auto;
  }

  .our-services {
    &__title {
      font-size: 24px;
      line-height: 48px;
    }

    &__container {
      display: flex;
      flex-wrap: wrap;
    }

    &__service {
      width: calc(50% - 24px);
      font-size: 16px;
      text-align: center;
    }
  }

  &__advantages {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1280px;
    margin: 24px auto;
  }

  .advantages {
    &__title {
      font-size: 24px;
      line-height: 48px;
    }

    &__container {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .feedback {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1280px;
    margin: 24px auto;

    &__title {
      font-size: 24px;
      line-height: 48px;
    }

    &__body {

    }
  }

  .form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &__field {
      width: 600px;
    }
  }
}
