/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "assets/shared-styles/shared-styles.less";

* {
  padding: 0;
  margin: 0;
}

html, body {
  overflow-x: hidden;
  height: 100%;
}

p {
  margin: 0;
  padding: 0;
}

.bigHalfCircle path {
  fill: #3498db;
  stroke: #3498db;
}

h1, h2, h3, h4, h5 {
  text-align: center;
  width: 100%;
}

.divider-block {
  position: relative;
  height: 150px;
  border-bottom-left-radius: 50% 95%;
  border-bottom-right-radius: 50% 95%;
  //background: linear-gradient(#ff9d2f, #ff6126);

  &__odd {
    background: @even-color;
  }

  &__even {
    background: @odd-color;
  }
}

.divider {
  &__odd {
    background: @odd-color;
  }

  &__even {
    background: @even-color;
  }
}
