@import "../shared-styles/shared-styles.less";

.about-us {
  padding: 24px 0;

  &__container {

    .info {
      display: flex;

      &__yandex-map {
        height: calc(100vh - 237px);
        width: 50%;
      }

      &__about-me {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 48px;

        .phone {
          display: flex;
          align-items: center;

          &__icon {
            background: url(/assets/images/icons/phone.svg) 0 0 no-repeat;
            height: 40px;
            width: 40px;
            margin-left: 24px;
            background-size: contain;

            @media @max-tablet {
              margin: 0;
            }
          }

          &__number {
            padding-left: 12px;
            font-size: 26px;
          }

          .phone-link {
            color: inherit;
          }
        }

        .email {
          display: flex;
          align-items: center;
          padding: 24px 0;

          &__icon {
            background: url(/assets/images/icons/mail.svg) 0 0 no-repeat;
            height: 40px;
            width: 40px;
            margin-left: 24px;
            background-size: contain;
            @media @max-tablet {
              margin: 0;
            }
          }

          &__value {
            padding-left: 12px;
            font-size: 26px;
          }
        }

        .address {
          display: flex;
          align-items: center;

          &__icon {
            background: url(/assets/images/icons/location.svg) 0 0 no-repeat;
            height: 40px;
            width: 40px;
            margin-left: 24px;
            background-size: contain;
            @media @max-tablet {
              margin: 0;
            }
          }

          &__location {
            padding-left: 12px;
            font-size: 26px;
          }
        }

        .individual-predpr {
          padding: 24px 0 0 24px;
          font-size: 26px;
        }

        .unp {
          padding: 24px 0 0 24px;
          font-size: 26px;
        }

        @media @max-tablet {
          .phone, .email, .address {
            &__icon {
              margin: 0;
            }

            &__value, &__location, &__number {
              font-size: 22px;
            }
          }

          .individual-predpr, .unp {
            padding: 24px 0 0 0;
            font-size: 22px;
          }
        }
      }


    }

    app-our-services {
      display: none;
    }

    @media @max-phone {
      app-our-services {
        display: block;
      }
    }

    @media @max-tablet {
      padding: 0 24px;
      .info {
        display: block;

        &__yandex-map {
          height: calc(100vh - 169px);
          width: 100%;
        }

        &__about-me {
          padding: 24px 0;
          margin: 0 auto;
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          font-size: 16px;
        }
      }


    }
  }


}

