@import "../shared-styles/shared-styles.less";

.catalog {
  height: 100%;

  .work-other-examples{
    &__title {
      padding: 24px 0;
    }
  }

  .item {
    display: flex;
    justify-content: center;

    &__images {
      width: 100%;
      max-width: 300px;
      margin: 0 auto;
      height: 300px;
      padding: 24px 0;
    }
  }


}
