@import "../shared-styles/shared-styles.less";

ngb-carousel.carousel.slide:focus {
  outline: none;
}

.main {
  .head-title {

  }

  .our-advantages {

    .advantages {
      &__title {

      }

      &__container {
        justify-content: center;
        flex-wrap: nowrap;
        padding: 24px 0;
        .advantage {
          background-color: red;
          margin: 0 24px;

          .work-tool {
            background: url(/assets/images/icons/work-tool.svg) 0 0 no-repeat;
            height: 80px;
            width: 80px;
            background-size: cover;
            margin: 0 auto;

          }

          .work-experience {
            background: url(/assets/images/icons/work-experience.svg) 0 0 no-repeat;
            height: 80px;
            width: 80px;
            background-size: cover;
            margin: 0 auto;
          }

          .quality-adv {
            background: url(/assets/images/icons/quality-adv.svg) 0 0 no-repeat;
            height: 80px;
            width: 80px;
            background-size: cover;
            margin: 0 auto;
          }

          .money {
            background: url(/assets/images/icons/money.svg) 0 0 no-repeat;
            height: 80px;
            width: 80px;
            background-size: cover;
            margin: 0 auto;
          }
        }
      }
    }

  }

  .our-works {

  }

  .our-partners {

  }
}
