@import "../shared-styles/shared-styles.less";

ngb-carousel.carousel.slide:focus {
  outline: none;
}

.main {
  .head-title {
    padding: 48px 0 0 0;
    position: relative;
    background: url(/assets/images/chimney-sweep.jpg) no-repeat;
    background-size: cover;
    height: 700px;
    background-position-y: bottom;

    &__title {
      margin-left: 48%;
      text-align: right;

      .title {
        text-align: right;
        padding: 40px 0;
      }

      .title-button {
        width: 200px;
        height: 40px;
        font-size: 20px;
        background-color: @odd-color;
      }
    }
  }

  .our-advantages {
    padding: 48px 0 0 0;
    background: @odd-color;
    position: relative;

    .advantages {
      &__title {

      }

      &__container {
        justify-content: center;
        padding: 24px 0;

        .advantage {
          background-color: rgba(255, 190, 53, 0.7);
          margin: 24px;
          padding: 12px;
          min-height: 200px;
          display: flex;
          flex-direction: column;
          justify-content: center;

          .work-tool, .work-experience, .quality-adv, .money {
            height: 60px;
            width: 60px;
            background-size: cover;
            margin: 0 auto;

          }

          .work-tool{
            background: url(/assets/images/icons/work-tool.svg) 0 0 no-repeat;
          }

          .work-experience {
            background: url(/assets/images/icons/work-experience.svg) 0 0 no-repeat;
          }

          .quality-adv {
            background: url(/assets/images/icons/quality-adv.svg) 0 0 no-repeat;
          }

          .money {
            background: url(/assets/images/icons/money.svg) 0 0 no-repeat;
          }
        }
      }
    }

  }

  .our-partners {
    padding: 48px 24px 0;
    background: @even-color;
    position: relative;

    .feedback__container {
      display: flex;
      justify-content: space-around;
      width: 100%;
      padding-top: 24px;
      max-width: 1280px;

      .item {
        max-width: 250px;
        max-height: 150px;
        margin: 0 auto;
        padding: 12px 0 0;

        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  .our-works {
    padding: 24px 0 0;
    position: relative;
    background: @odd-color;
  }

  @media @max-laptop {
    .head-title {
      padding: 24px 0 0 0;
      height: 500px;

      &__title {
        margin-left: 50%;
        text-align: right;

        .title {
          text-align: right;
          padding: 20px 0;
        }
      }
    }
  }

  @media @max-tablet {
    .head-title {
      background: white;
      height: auto;

      &__title {
        margin: 0;
        text-align: right;

        .title {
          text-align: right;
          padding: 20px 0;
        }
      }
    }

    .our-works {
      padding: 32px 24px;
    }
  }

  @media @max-phone {
    .our-works {
      padding: 24px 16px;
    }

    .our-partners {

      .feedback__container {
        display: block;

        .item {
          padding: 12px 0;
        }
      }
    }
  }
}
