@import "../shared-styles/shared-styles.less";

.services {
  &__container {
    max-width: 960px;
    margin: 0 auto;
    .pot {
      background-image: url(/assets/images/icons/boilers.svg);
    }

    .chimney {
      background-image: url(/assets/images/icons/chimney-icon.svg);
    }

    .check {
      background-image: url(/assets/images/icons/functional.svg);
    }

    .act {
      background-image: url(/assets/images/icons/document.svg);
    }
  }

  &__item {
    display: flex;
    align-items: center;
    padding: 12px 48px 12px 0;
  }

  &__img {
    .social-icon();
    margin: 0;
    background-repeat: no-repeat;
  }

  &__text {
    padding-left: 12px;
    font-size: 20px;
  }

  @media @max-tablet {

    &__item {
      padding: 12px 12px 12px 0;
    }

    &__text {
      padding-left: 12px;
      font-size: 16px;
    }
  }

  @media @max-phone {

    &__item {
      padding: 12px 0;
    }
  }
}
