@background-color: #ededef;
@text-color: #000000;
@header-footer-background: #dbdfe1;
@links-color: #FF9E41;

@odd-color: #ff9d2f; // цвет четных блоков
@even-color: #efefef; // цвет четных блоков

.default-text {
  font-size: 16px;
  line-height: 32px;
}

.title-text {
  font-size: 22px;
}

.catalog-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: 60%;
}

.social-icon {
  min-height: 40px;
  min-width: 40px;
  margin-left: 24px;
  background-size: contain;
}

.astrodivider {
  margin: 24px auto;
  width: 100%;
  position: relative;
}

.astrodividermask {
  overflow: hidden;
  height: 20px;
}

.astrodividermask:after {
  content: '';
  display: block;
  margin: -25px auto 0;
  width: 100%;
  height: 25px;
  border-radius: 125px / 12px;
  box-shadow: 0 0 8px @links-color;
}

.astrodivider span {
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 100%;
  margin-bottom: -25px;
  left: 50%;
  margin-left: -25px;
  border-radius: 100%;
  box-shadow: 0 2px 4px @links-color;
  background: #fff;
}

.astrodivider i {
  position: absolute;
  top: 4px;
  bottom: 4px;
  left: 4px;
  right: 4px;
  border-radius: 100%;
  border: 1px dashed #68beaa;
  text-align: center;
  line-height: 40px;
  font-style: normal;
  color: @links-color;
}

/*media queries*/

@max-phone: ~"(max-width: 670px)";
@max-tablet: ~"(max-width: 899px)";
@max-laptop: ~"(max-width: 1280px)";
@desktop-screen: ~"(min-width: 1280px)";

